<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
 <CodeSnippet Format="1.1.0">
   <Header>
     <SnippetTypes>
       <SnippetType>Expansion</SnippetType>
     </SnippetTypes>
     <Title>dojoSnippet</Title>
     <Author>Steve Gourley (@steveAGRC)</Author>
     <Shortcut>dojoSnippet</Shortcut>
   </Header>
   <Snippet>
     <Code Language="jscript">
       <![CDATA[
       
       ]]>
     </Code>
   </Snippet>
 </CodeSnippet>
</CodeSnippets>